* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url(/ExchangeRateCalculator/stock.jpg);
    background-size: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f4e4ba;
}

.container {
    background-image: url(/ExchangeRateCalculator/Currency.jpg);
    border: 2px solid rgb(5, 22, 19);
    background-color: #fff;
    padding: 2rem;
    border-radius: 1rem;
    min-height: 45vh;
    width: 40vh;
    box-shadow: 0 0 25px 8px rgb(7, 65, 142);
}

.container h2 {
    color: rgb(19, 66, 153);
    text-align: center;
}

form {
    margin: 2rem 0 1rem 0;
}

form select,
button,
input {
    width: 100%;
    border: none;
    outline: none;
    border-radius: 0.75rem;
}

form input {
    border: 1px solid lightgray;
    font-size: 1rem;
    height: 3rem;
    padding-left: 0.5rem;
}

.dropdown {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2rem;
    font-weight: 800;
}

.dropdown i {
    font-size: 1.5rem;
    margin-top: 1rem;
}

.select-container img {
    max-width: 2rem;
}

.select-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 6rem;
    border-radius: 0.5rem;
    border: 1px solid lightgray;
    background-color: #8ff459;
}

.select-container select {
    font-size: 1rem;
    width: auto;
    /* background-color: #f4e4ba; */
}

.msg {
    margin: 2rem 0 2rem 0;
    padding: 10px 10px 10px;
    border-radius: 5px;
    border: 2px solid #e1d474;
    font-weight: 600;
    background-color: #fff;
}

button:hover {
    background-color: #832161;
}

form button {
    border: 2px solid #a8f979;
    height: 3rem;
    background-color: #af4d98;
    color: #fff;
    font-size: 1.15rem;
    cursor: pointer;
}

.dev {
    display: flex;
    align-items: center;
    justify-content: center;
}

.dev p {
    text-align: right;
    font-size: smaller;
    color: rgb(136, 193, 243);
}